* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
@font-face {
    font-family: Commissioner, sans-serif;
    src: url(../fonts/static/Commissioner-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
header{
    background-color: #00887a;
	font-family: Commissioner, sans-serif;
	font-size: 0.9rem;
    color: white;
	padding-bottom: 3px;
	padding-top: 8px;
    height:14%;
    width:100%;
}
h1{
	float: left;
	color: #ffccbc;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 1.1rem;
	line-height: 25px;
	border-radius: 4px;
}
h1 a{
	text-decoration: none;
	color: #ffccbc;
}
.gentext{
    background-color: #d3e3fc;
	font-family: Commissioner, sans-serif;
    font-size: 0.9rem;
    margin:1.5%;
	margin-bottom: 25px;
    padding:5%;
    text-align: justify;
}

footer{
    background-color: #00887a;
	position: fixed;
	width:100%;
	left: 0;
	bottom: 0;
	padding-bottom: 1px;
	padding-top: 1px;
	font-family: Commissioner, sans-serif;
    font-size: 0.85rem;
    color: white;
}
.copyright{
	padding-left: 20px;
	width: 55%;
	float: left;
}
.telefon{
	width: 35%;
	float: right;
}
.topnav {
	overflow: hidden;
	font-size: 0.9rem;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	width: 300px;
}

.topnav a:hover {
	background-color: #77a6f7;
}

.topnav .icon {
	display: none;
}

aside{
	padding: 15px;
	max-width: 60%;
	max-height: 100%;
	left: 0;
	overflow-x: hidden;

}
aside img{
	max-height: 400px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	text-align: left;
	padding: 15px;
	float: right;
}
button{
	font-size: 1.4rem;
    background-color: #00887a;
	padding: 3px;
	color: white;
}
.span{
	font-size: 1rem;

}
.flex-container{
    display:flex;
    flex-flow: row wrap;
    background-color: #d3e3fc;
	margin: 1%;
    width: 98%;
    justify-content: center;
}
.pol{
    height: 13%;
    width: 25%;
    margin: 1%;
    background-color: #ffccbc;
	text-align: center;
	padding-bottom: 10px;
}
.pol a{
	text-decoration: none;
	color: black;
	font-family: Commissioner, sans-serif;

}
.pol a:hover{
	text-decoration: underline;
}
li {
	float: left;
}
li a {
	display: block;
	font-size: 1.1rem;
	color: white;
	text-align: center;
	padding: 16px 50px;
	text-decoration: none;
}
li a:hover {
	background-color: #77a6f7;
}
.prod{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	max-width: 50%;
	max-height: 50%;
}
.prod_desc{
	display: block;
	text-align: justify;
	background-color: #fff2ef;
	font-size: 0.95rem;
	margin:1.5%;
	margin-bottom: 25px;
	font-family: Commissioner, sans-serif;
}
.price{
	font-size: 0.95rem;
	font-weight: bold;
	color: #00887a;
}
.prod-p{
	margin: 1px;
}
.prod-img{
	margin:1px;
	max-width: 50%;
	max-height: 50%;
	min-height: 100px;
	min-width: 100px;
}
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
	font-size: 1rem;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
