* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
@font-face {
    font-family: Commissioner, sans-serif;
    src: url(../fonts/static/Commissioner-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
header{
    background-color: #00887a;
	font-family: Commissioner, sans-serif;
	font-size: 0.9rem;
    color: white;
	padding-bottom: 3px;
	padding-top: 8px;
    height:14%;
    width:100%;
	text-decoration: none;
}
h1 a{
	text-decoration: none;
	color: #ffccbc;
}
h1{
	float: left;
	color: #ffccbc;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 1.1rem;
	line-height: 25px;
	border-radius: 4px;
}
.gentext{
    background-color: #d3e3fc;
	font-family: Commissioner, sans-serif;
    font-size: 0.95rem;
    margin:1.5%;
	margin-bottom: 25px;
    padding:1.5%;
	padding-bottom: 15%;
    text-align: justify;
}

p{
	display: flex;
	float: left;
}
.ind{
	font-size: 1.2rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: #0f4a44;
	display: flex;
	float: left;
}
footer{
    background-color: #00887a;
	position: fixed;
	width:100%;
	left: 0;
	bottom: 0;
	padding-bottom: 1px;
	padding-top: 1px;
	font-family: Commissioner, sans-serif;
    font-size: 0.85rem;
    color: white;
}
.copyright{
	padding-left: 20px;
	width: 55%;
	float: left;
}
.telefon{
	width: 35%;
	float: right;
}
.topnav {
	overflow: hidden;
	font-size: 0.9rem;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	width: 300px;

}

.topnav a:hover {
	background-color: #77a6f7;
}

.topnav .icon {
	display: none;
}
table{
	width: 100%;
}
iframe{
	max-width: 100%;
}
ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: #eee;
	text-align: center;
}
ul.breadcrumb li {
	display: inline;
	font-size: 18px;
}
ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}
ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}
.product{
	align-items: center;
	box-sizing: border-box;
	min-height: 100px;
	padding-top: 10%;
	padding-bottom: 1%;
	position: relative;
}
.prod-i{
	margin:1px;
	max-width: 50%;
	min-height: 140px;
	min-width: 140px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	max-height: 160px;
	padding-right: 30px;
	padding-bottom: 30px;
	position: relative;
}
.prod-n{
	display: inline;
	text-decoration: none;
}
h2{
	text-decoration: none;
	padding: 2%;
	font-size: 1.5rem;
}
.quantity{
	display: block;
	width: 74px;
	height: 40px;
	border-right: 1px;
	position: relative;
	padding-left: 4%;

}
.quantity input{
	display: block;
	height: 40px;
	width: 50px;
	margin-right: 17px;
	text-align: center;
}
.quantity span{
	right: 0;
	width: 17px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	background-color: white;
}
.quantity span:first-of-type{
	top:0;
}
.quantity span:last-of-type{
	bottom:0;
}
.cena{
	font-size: 1.5rem;
	padding: 3%;
	width: 80%;
	display: inline-block;
}
.rem_pr{
	width: 25px;
	height: 25px;
	border: 50px;
	float: right;
}
button{
	background-color: #00887a;
	padding: 3px;
	color: white;
}
.pokracovat{
	width:100px;
	float: right;
	margin-top: 3%;
	font-size: 1rem;
	background-color: #00887a;
	padding: 3px;
	color: white;
	text-decoration: none;
	text-align: center;
}
.zpet{
	float: left;
	width: 140px;
	margin-top: 3%;
	font-size: 1rem;
	background-color: white;
	padding: 3px;
	color: black;
	text-decoration: none;
	text-align: center;
}
form{
	padding: 4%;
}
input {
	display: inline-block;
}
label{
	font-size: 1.1rem;
}
.ulozit{
	font-size: 1.1rem;
	width: 90px;
	margin: 2%;
}
fieldset {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border: 2px groove;
}
legend{
	font-size: 1.3rem;
	font-weight: bold;
}
.uda{

}
.shrn{
	padding-top: 3.5%;
}
.prod-wr{
	padding: 15px 20px;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	position: relative;
}
.kon_cena{
	padding-left: 4%;
	display: inline-block;
	font-size: 1.1rem;
}
strong{
	width: 270px;
	text-align: right;
	font-size: 1.5rem;
}

.h2_shr{
	text-align: center;
	width: 100%;
}
.p_shr{
	text-align: center;
	font-size: 1rem;
}
.flex-container{
    display:flex;
    flex-flow: row wrap;
    background-color: #d3e3fc;
	margin: 1%;
    width: 98%;
    justify-content: center;
	padding-top: 30px;
}
.pol{
    height: 13%;
    width: 25%;
    margin: 1%;
    background-color: #ffccbc;
	text-align: center;
	padding-bottom: 10px;
}
.pol a{
	text-decoration: none;
	color: black;
	font-family: Commissioner, sans-serif;

}
.pol a:hover{
	text-decoration: underline;
}
.prod{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	max-width: 50%;
	max-height: 50%;
	float:none;
}
.zpet-in{
	display: flex;
	width: 200px;
	margin-top: 3%;
	font-size: 1.4rem;
	background-color: #00887a;
	padding: 3px;
	color: white;
	text-decoration: none;
	text-align: center;
	left:15%;
	margin-right: -15%;
	position:relative;
	justify-content: center;
}

.gentext-grid{
    display: grid;
    background-color: #d3e3fc;
	font-family: Commissioner, sans-serif;
    font-size: 1.06rem;
    margin:1.5%;
	margin-bottom: 25px;
    padding:1.5% 2% 5% 2%;
    width: 94%;
    text-align: justify;
    align-content: start;
    justify-content: space-between;
    grid-template-columns: minmax(250 px, 20%) 50% minmax(250 px, 20%);
    grid-template-rows: 30px auto auto auto auto;
    grid-gap: 15px 25px;
}

.onash2{
    grid-column: 1 / span 3;

}
.onas-l{
    grid-column: 1 / span 2;
    border-width: 2px;
    padding: 0px 7px;
    text-align: justify;
}
.onas-r{
    grid-column: 2 / span 2;
    border-width: 2px;
    text-align: justify;
    padding-right: 2%;
}
.onasimg1{
	grid-column: 3 / 4;
	width: 100%;
	max-width: 250px;
}
.onasimg2{
	grid-column: 1 / 2;
	width: 100%;
	max-width: 250px;
}
