/*
CSS
*/
@media screen and (max-width: 750px) {
	.topnav a {
		display: none;
		font-size: 0.9rem;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	aside{
		padding: 0px;
		max-width: 100%;
		max-height: 100%;
		left: auto;
		height:auto;
		overflow-x: auto;
	}
	.centered{
		position: relative;
		width: 100%;
		top: auto;
		left: auto;
		transform: none;
		text-align: justify;
		padding: 0px;
		float: none;
	}
}

@media screen and (max-width: 750px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

@media screen and (min-width: 750px) {
	h1{
		font-size: 1.3rem;
	}
	.topnav a {
		display: block;
		color: white;
		text-align: center;
		padding: 16px 50px;
		text-decoration: none;
		width: 50px;
	}
	.topnav{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
}
@media screen and (min-width: 752px) {
	.topnav a {
		font-size: 1.1rem;
	}
	footer{
		font-size: 1rem;
	}
	.product{
		display: flex;
		align-items: center;
		box-sizing: border-box;
		min-height: 100px;
		max-height: 150px;
		padding-top: 10%;
		padding-bottom: 4%;
		position: relative;
	}

	h2{
		padding: 1%;
		width: 170px;
	}
	.cena{
		font-size: 1.2rem;
		max-width: 100px;
	}

	fieldset{
		width: 45%;
		float: left;
	}
	.shrn{
		max-width: 70%;
		float: right;
		display: inline-block;
	}
	.uda{
		display: flex;
	}
	.prod-wr{
		display: inline;
	}

	.jah{
		float:right;
		height: 180px;
		width: 290px;
	}
	.zpet-in{
		font-size: 1.8rem;
		left:42%;
		margin-right: -42%;
		position:relative;
	}
}
@media screen and (min-width: 860px){
	.prod-wr{
		display: flex;
	}
	.ind{
		font-size: 1.8rem;
	}
}
@media screen and (min-width: 1022px){
	h2{
		padding: 1%;
		width: 270px;
	}
}